
.footer {
padding: 20px;
font-family: jost;
}

.footer-container {
display: grid;
grid-template-columns: auto auto;
background-color: rgb(255, 255, 255);
align-items: center;
justify-content: center;
padding: 1px;
}
.footer-address, li{
list-style: none;
font-weight: 400;
}

legend{
margin-top: 4rem;
margin-left: 14rem;
margin-bottom: 1.5rem;
justify-self: center;
font-size: larger;
font-weight: 600;
text-decoration: solid underline;
}

#contactus-form{
grid-template-columns: 20em, 20em;
margin-left: 10rem;
}

.form-border{
border: none;
border-bottom: 1px solid rgb(0, 6, 0);
padding: 20px;
}

.list-items{
list-style-type: none;
display: flex;
flex-direction: column;
width: 15rem;
padding-top: 15px;
}

.list-msg-items{
display: flex;
flex-direction: column;
width: 40rem;
padding-top: 50px;
}

#form-info{
display: grid;
grid-template-columns: 25em 25em;
}

.social-icons {
display: grid;
grid-template-columns: 4em 4em 4em 4em;
margin-bottom: 30px;
margin-left: 2.5rem;
}

button{
padding: 15px;
width: 8rem;
margin-left: 26rem;
border-style: none;
font-size: 16px;
background-color: rgb(255, 255, 255);
text-align: center;
transition-duration: 0.4s;
}

button:hover {
background-color: #4CAF50;
/* Green */
color: white;
}

