.menu {
  display: flex;
  justify-content: flex-end;
  margin: 1.5em;
  justify-content: space-between;
}

.menu-btn {
  font-size: 1.7em;
  border: none;
  background: white;
}

.login {
  width: 5.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.login a {
  text-decoration: none;
  color: #b6d1d9;
}
