.menu {
  display: flex;
  justify-content: flex-end;
  margin: 1.5em;
  justify-content: space-between;
}

.menu-btn {
  font-size: 1.7em;
  border: none;
  background: white;
}

.menu-btn:hover {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  gap: 0.5em;
}

.login a {
  text-decoration: none;
  color: #b6d1d9;
}

@media screen and (min-width: 850px) {
  .menu-btn {
    display: none;
  }

  .header-menu-items {
    display: flex;
    align-items: center;
  }

  .list-item {
    text-decoration: none;
    width: 7em;
    color: black;
    border-bottom: 0;
    padding: 0.3em;
    font-size: 1.2em;
  }
}
